div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 1px solid black;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: #81b29a;
}

#static #middle {
  position: static;
  /* não é usado: top, right, left, z-index  */
}

#relative #middle {
  position: relative;
  top: 15px;
  left: 25px;
}

/* #absolute {
  position: relative;
  background-color: antiquewhite;
} */

#absolute #middle {
  position: absolute;
  top: 5px;
  left: 250px;
}

#fixed #middle {
  position: fixed;
  top: 5px;
  left: 5px;
}
